* {
  font-family: "Open Sans";
}
html,
body {
  height: 100%;
}
body {
  background: #141414;
  margin: 0;
}
.main {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginContainer {
  display: flex;
  width: 1083px;
  height: 660px;
}
p {
  align-content: center;
  justify-content: center;
  display: none;
  margin: 0;
  padding: 0;
  margin-left: 151px;
  margin-right: 359px;
  font-size: 14px;
  line-height: 19px;
  color: #e07979;
}
.error-pass {
  margin-right: 331px;
}
h1 {
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 61px;
  color: #ffffff;
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: 2.8px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 161px;
  text-align: center;
  font-family: "Open Sans";
}
strong {
  font-weight: 800;
}
.boxLeft {
  background-color: #303030;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 0px 50px 0px #0000001a;
  width: 660px;
  height: 100%;
}
.box-login {
  justify-content: center;
  display: flex;
  place-items: center stretch;
  padding: 10px;
}
.box-login input {
  margin: 0px;
  height: 52px;
  padding-left: 25px;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  border-left: 0px;
  width: 278px;
}
.box-login input[class="password-input"] {
  border-right: none;
  border-radius: 0px 0px 0px 0px;
  width: 228px;
}
.box-login input[type="text"],
.box-login input[type="password"] {
  background: transparent;
  font-size: 14px;
  line-height: 19px;
  color: #8f8f8f;
}
.icon {
  height: 52px;
  width: 52px;
  position: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  color: #d1d1d1;
}
.userIcon {
  color: #d1d1d1;
  margin-top: 15px;
  margin-left: 15px;
}
.eye {
  width: 20px;
  height: 13.75px;
}
.iconeye {
  padding: 15px;
  height: 52px;
  border: 1px solid #8f8f8f;
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  border-left: none;
}
.iconeye2 {
  padding: 15px;
  height: 52px;
  border: 1px solid #8f8f8f;
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  border-left: none;
}
.key {
  height: 9px;
  margin-top: 15px;
  margin-left: 15px;
}
.error{
  background: transparent;
  font-size: 14px;
  line-height: 19px;
  color: red;
}
.text-bottom {
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 35px;
}
.wrap-place {
  flex-wrap: wrap;
  padding: 10px;
  width: 330px;
}
.column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
}
.check:focus {
  outline: none;
  border-color: #ffffff;
}
.check {
  margin: 0px 10px 0px -5px;
  margin-bottom: -5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid #8f8f8f;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
input[type="checkbox"]:checked {
  background: #7cd235;
  content: normal;
  background-position: center;
  background-image: url(/style/image-icons/check.png);
  background-repeat: no-repeat;
  border: none;
}

.me {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #929699;
}
.text {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.text-bottom input[value="LOGIN"] {
  width: 100px;
  height: 40px;
  border-color: transparent;
  align-content: flex-end;
  padding: 7px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  border-radius: 8px;
}
.text-bottom input[value="LOGIN"]:hover {
  background: #7cd235;
}
.text-bottom input[value="LOGIN"]:focus {
  border: 1px solid #ffffff;
}
.line {
  display: flex;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  margin-right: 101px;
  margin-left: 100px;
}
.line::before,
.line::after {
  flex: 1;
  border-bottom: 1px solid #fff;
  content: "";
  margin-right: 25px;
  margin-left: 30px;
}

.bottom-box {
  justify-content: center;
  display: flex;
  place-items: center stretch;
  padding: 14px;
}
.social-media {
  text-align: center;
}

.button {
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
i {
  color: #ffffff;
  width: 20px;
  height: 18px;
}
.button-icon {
  width: 46.55px;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  border-color: transparent;
}
.button {
  border-radius: 0px 8px 8px 0px;
  border-color: transparent;
}
.fecebook-icon {
  background: #263c68;
}
.twitter-icon {
  background: #0695cb;
}
.google-icon {
  background: #9d9d9d;
}
.face {
  background: #3b5998;
}
.twitter {
  background: #00aced;
}
.google {
  background: grey;
}
.image {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0 10px 10px 0;
}
.carousel-image-box {
  position: relative;
  width: 453px;
  height: 660px;
  overflow: hidden;
}
.carousel-truck {
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.current-slide {
  opacity: 1;
}

.carousel-dot-container {
  display: flex;
  position: absolute;
  left: 175px;
  top: 605px;
}
.carousel-dot {
  cursor: pointer;
  appearance: none;
  background-image: url(/style/image-icons/dot.svg);
  width: 7px;
  height: 7px;
  opacity: 0.3;
}
.carousel-dot:hover {
  opacity: 1;
}
.dot-checked,
.carousel-dot:checked {
  opacity: 1;
}

@media screen and (max-width: 1439px) {
  html,
  body {
    zoom: 90%;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    height: 48px;
    line-height: 48px;
    font-size: 35px;
  }
  .column {
    justify-content: center;
  }
  .column input[type="submit"] {
    margin-left: 12px;
  }
  .forgot {
    margin-left: 40px;
  }
  .box-top {
    width: 320px;
    height: 767px;
    border-radius: 10px 10px 10px 10px;
  }
  .box-login input {
    width: 188px;
  }
  .box-login input[class="password-input"] {
    width: 138px;
  }
  .carousel-image-box {
    display: none;
  }
  .container {
    width: 660px;
  }
}
.result {
  display: flex;
}
/* .Button-login{
    height: 40px;
    width: 100px;
    margin-left: 379px;
    margin-top: 276px;
    margin-bottom: 344px;
    border-radius: 8px;
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
    position:absolute;
}
.BiomutantImg {
    position: absolute;
    width: 453px;
    height: 660px;
    left: 810px;
    top: 180px;
    
    background: #D8D8D8;
    border-radius: 0px 10px 10px 0px;
}
body{
    background-color: #141414;
    margin:0;

}
.Check-box{
    height: 20px;
    width: 20px;
    left: 330px;
    top: 466px;
    border-radius: 4px;
    position:absolute;
    height: 19px;

    }
.Check-box-text{
   
    height: 19px;
    width: 110px;
    left: 360px;
    top: 466px;
    border-radius: nullpx;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8F8F8F;
}
.Facebook{
    height: 40px;
    width: 250px;
    left: 195px;
    top: 437px;
    border-radius: 8px;
    
}
.fa-eye{
    color:#FFFFFF;
}
.fa-user-circle{
    color:#FFFFFF;
    width: 25px;

}
.Form{
    height: 52px;
    width: 330px;
    left: 330px;
    top: 300px;
    border-radius: 8px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    
}
.Form2{
    height: 52px;
    width: 330px;
    left: 330px;
    top: 372px;
    border-radius: 8px;
    position: absolute;
    box-sizing: border-box;
    
}

.Google{
    height: 40px;
    left: 195px;
    Width :255px;
    top: 481px;
    border-radius: 8px;
}
.login{
    background-color:  #141414;
    height: 1024px;
    width: 1440px;
    border-radius: 0px;
    position: absolute;
}
.InformacionUsuario{
    height: 660px;
    width: 630px;
    margin-left: 180px;
    margin-top: 180px;
    background: #303030;  
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0px 0px 10px;
}

/* .GameFinder{
    position: absolute;
    
} */
/* .Game Finder{
    display: flex;
}
.hr1{
    height: 2px;
    width: 134px;
    margin-left: 150px;
    margin-top: 390px;
    border-radius: 0px;
    color:#FFFFFF;
    position: absolute;
}
.hr2{
    height: 2px;
    width: 134px;
    margin-left: 345px;
    margin-top: 390px;
    position: absolute;
    border-radius: 0px;
    color:#FFFFFF;
   
}
.input-group-text-without-border{
    border: 0;

}
.input-group-text-without-right-border{
    border-right: 0; 
}
.input-group-text-without-left-border{
    border-left:0;
    
}
.LoginForm{
    display: flex;
}
.Or{
    height: 19px;
    width: 61px;
    margin-left: 305px;
    margin-top: 390px;
    border-radius: nullpx;
    color: #FFFFFF;
    position: absolute;
}
.Password{
    height: 19px;
    width: 200px;
    margin-left: 364px;
    margin-top: 331px;
    margin-bottom: 310px;
    border-radius: nullpx;
    position: absolute;
    color: #FFFFFF;
}
.Register-now{
    height: 19px;
    width: 100px;
    margin-left: 150px;
    margin-top: 331px;
    margin-bottom: 310px;
    border-radius: nullpx;
    position: absolute;
    color: #FFFFFF;
}
.titulo{
    position: absolute;
    height: 61px;
    left: 23.33%;
    right: 54.58%;
    top: calc(50% - 61px/2 - 267.5px);

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: 2.8px;

    color: #FFFFFF;
}
.Twitter{
    height: 40px;
    Width :249px;
    left: 195px;
    top: 459px;
    border-radius: 8px;
}

@media screen and (max-width:1100px) {
    .InformacionUsuario{
      align-items: justify-content;
      border-radius: 10px 10px 10px 10px;
    }
    .BiomutantImg{
        display: none;
    }
  } */
